.header-NonLandingPage {
    position: fixed;
    padding: 20px 10px;
    box-shadow: 1px 0 30px rgba(0,0,0,.1);
    position: fixed;
    z-index: 1051;
    top: 0;
    width: 100%;
    background:white;
}

.header-right {
    float: right;
    display: flex;
}
.nav-link img {
    /* line-height: 50px; */
    display: inline-block;
    width: 30px;
    height: 30px;
    /* margin-right: 20px; */
    text-align: center;
    vertical-align: middle;
    border-radius: 12%;
    /* background: #fff; */
    box-shadow: 0 0 10px rgba(0,0,0,.12);
}