.login-card {
    min-height: 60vh;
}

.registerMessage {
    margin-top: 10vh;
}
.notfound{
    width:40vw;
    height: 40vh;
}
button#login_id {
    background: #f59c29;
}
.login_container{
    box-shadow: 0 1px 15px 1px rgba(62,57,107,.07);
}
